.info {
  text-align: center;
}

.profile-img {
  height: 300px;
  width: 100%;
  object-fit: cover;
  display: block;
  background: var(--clr-img_bg);
}

.name {
  font-size: 2rem;
  margin: 1em 0 0;
}

.field {
  color: var(--txt-field-clr);
  text-decoration: uppercase;
  margin: 0 0 0.6em;
}

.website {
  color: var(--txt-secondary-clr);
  font-size: 0.75rem;
  display: block;
  margin-bottom: 2em;
}

.btn {
  padding: 0.6em 1em;
  display: flex;
  place-content: center;
  gap: 0.5em;
  text-decoration: none;
  border-radius: 6px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  font-weight: 500;
}

.btns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
}

.btn--primary {
  background: var(--txt-clr);
  color: var(--txt-btn-primary);
}

.btn--secondary {
  background: var(--clr-linkedin);
  color: var(--txt-clr);
}
