.main {
  background: var(--clr-main_bg);
  font-family: var(--font-fam);
  color: var(--txt-clr);
  max-width: 317px;
  margin: 2em auto;
  border-radius: 10px;
  overflow: hidden;
}

.container {
  padding: 0 2.2em;
}

.section-header {
  margin-top: 2em;
  color: var(--txt-secondary-clr);
  font-size: 1rem;
  line-height: 1.5;
}

.about > p,
.interests > p {
  color: var(--txt-clr-body);
  font-size: 0.75rem;
}
